langchain
langchain-groq
streamlit
matplotlib
textblob # Sentiments Analysis
readability # Reading Scores
numpy
opencv-python  #ImageProcessing
PTL  #Image 
#tensorflow
scikit-image
python-dotenv
opencv-python-headless
pillow
langchain-core
readability-lxml
